In [83]:
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/prateekb/Downloads/MyPrograms/Certification/WIP/Machine Learning/Recommendation/Recommend.csv",
              names=['UID','MID','Rating','Timestamp'])
df=df.drop(['Timestamp'],axis=1)
movies=df.pivot(index='UID',columns='MID',values='Rating').reset_index(drop=True)
movies=movies.fillna(0)
movies.shape

from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

disSim=pairwise_distances(movies.values,metric='cosine')
user_sim=1-disSim

np.fill_diagonal(user_sim,0)
user_simdf=pd.DataFrame(user_sim)
user_simdf.idxmax(axis=1)

movie1=df[df['UID']==1]
movie915=df[df['UID']==916]
merged=pd.merge(movie1,movie915,on='MID',how='left')
movieSeenByUser1=merged[(merged['UID_y']!=916)]
movieSeenByUser1.sort_values(by='Rating_x',ascending=False)

     UID_x  MID  Rating_x  UID_y  Rating_y
157      1   32         5    NaN       NaN
89       1  242         5    NaN       NaN
218      1  127         5    NaN       NaN
72       1  108         5    NaN       NaN
213      1  115         5    NaN       NaN
..     ...  ...       ...    ...       ...
221      1  261         1    NaN       NaN
91       1  112         1    NaN       NaN
71       1  259         1    NaN       NaN
216      1   35         1    NaN       NaN
128      1  243         1    NaN       NaN

[117 rows x 5 columns]

In [120]:
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/prateekb/Downloads/MyPrograms/Certification/WIP/Machine Learning/Recommendation/Recommend.csv",
              names=['UID','MID','Rating','Timestamp'])
df=df.drop(['Timestamp'],axis=1)

movies=df.pivot(index='MID',columns='UID',values='Rating').reset_index(drop=True)
movies=movies.fillna(0)
movies
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

disSim=pairwise_distances(movies.values,metric='correlation')
user_sim=1-disSim

np.fill_diagonal(user_sim,0)
user_simdf=pd.DataFrame(user_sim)
def genRange():
    MID=[]
    for i in range(1,1683):
        MID.append(i)
    return MID

mov= pd.DataFrame({'MID':genRange()})
mov['Similarity']=user_simdf.iloc[0]
mov.sort_values(by='Similarity',ascending=False)

     MID  Similarity
49    50    0.457677
120  121    0.454544
116  117    0.431789
150  151    0.423975
180  181    0.422991
..   ...         ...
886  887   -0.118936
689  690   -0.120383
302  303   -0.131806
285  286   -0.137530
301  302   -0.141321

[1682 rows x 2 columns]

In [127]:
import pandas as pd
import numpy as np
df=pd.read_csv("/Users/prateekb/Downloads/MyPrograms/Certification/WIP/Machine Learning/Recommendation/Recommend.csv",
              names=['UID','MID','Rating','Timestamp'])
df=df.drop(['Timestamp'],axis=1)
movies=df.pivot(index='UID',columns='MID',values='Rating').reset_index(drop=True)
movies=movies.fillna(0)

df.dtypes

UID       int64
MID       int64
Rating    int64
dtype: object

In [126]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation
disSim=pairwise_distances(movies.values,metric='cosine')
user_sim=1-disSim
pd.DataFrame(disSim)

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,0.000000,0.833069,0.952540,0.935642,0.621525,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,0.685928,0.851383,0.820492,0.601825
1,0.833069,0.000000,0.889409,0.821879,0.927021,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,0.773210,0.838515,0.827732,0.894202
2,0.952540,0.889409,0.000000,0.655849,0.978755,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,0.838110,0.898757,0.866584,0.973444
3,0.935642,0.821879,0.655849,0.000000,0.968196,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,0.803142,0.847959,0.829914,0.941248
4,0.621525,0.927021,0.978755,0.968196,0.000000,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,0.760045,0.860405,0.847503,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.881905,0.771417,0.973729,0.969862,0.928541,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,0.912313,0.819971,0.956736,0.855750
939,0.685928,0.773210,0.838110,0.803142,0.760045,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,0.000000,0.854848,0.738624,0.758972
940,0.851383,0.838515,0.898757,0.847959,0.860405,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,0.854848,0.000000,0.898358,0.904880
941,0.820492,0.827732,0.866584,0.829914,0.847503,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,0.738624,0.898358,0.000000,0.817535
942,0.601825,0.894202,0.973444,0.941248,0.686059,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,0.758972,0.904880,0.817535,0.000000

In [128]:
df['Rating'].unique()

array([3, 1, 2, 4, 5])